<%= turbo_frame_tag 'user_tags' do %>
  <%= render 'user_tags' %>
<% end %>

<%= turbo_frame_tag 'user_transactions' do %>
  <%= render 'user_transactions' %>
<% end %>

<%= turbo_frame_tag 'modal' %>

<!-- Modal -->
<div class="modal fade" id="new-tag-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tag Transaction</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= turbo_frame_tag 'modal_body' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  var showTagModal = function () {
    let myModal = new bootstrap.Modal(document.getElementById('new-tag-modal'));
    myModal.show();
  }
</script>